#Parameters for a RPSSimulation
#Wed Aug 02 01:23:36 CEST 2006
actionFile=actions.al
engineTimerPeriod=5
gnuplotFileCoeffVarCPP=coeffVarCPP_queue40.gnuplotdata
gnuplotFileMeanValueCPP=meanValueCPP_queue40.gnuplotdata
gnuplotFileQueueSize=queue40.dygnuplot
gnuplotFileStdDevCPP=stdDevCPP_queue40.gnuplotdata
gnuplotFileTotalTemporaryRequests=totalTemporaryRequests_queue40.gnuplotdata
gnuplotTimeStepSecs=5
gui=false
informBrokersTimeout=2000
informSubscribersTimeout=2000
isDiscreteSimulation=true
maxFeedEvents=5
maxPollingPeriod=910800
maxSubscriberEvents=10
maxUpIntv=30
minUpIntv=5
pingTimeoutFactor=2
pingTimer=8000
preferredPollingPeriod=1
rssFeedMsgRT=70
rssFeedMsgRepresent=true
rssFeedRequestMsgRT=50
saveProperties=false
scenarioFile=BRITEQuServAdjColEvBrkCongContPubSub.sim
seedValue=-626621655
serverDelay=200
serverQueueSize=40
showSizeBrokerMsg=false
spreadDivisor=6
subnetParamMsgRT=50
ttl=5
