#Parameters for a RPSSimulation
#Tue Nov 07 20:07:49 CET 2006
actionFile=actions.al
engineTimerPeriod=5
gnuplotFileAvgMsgDelayRatio=avgMsgDelayRatio_NoCongCont.gnuplotdata
gnuplotFileAvgUptodateRatio=avgUptodateRatio_NoCongCont.gnuplotdata
gnuplotFileCoeffVarCPP=coeffVarCPP_NoCongCont.gnuplotdata
gnuplotFileMarkers=markers.gnuplot
gnuplotFileMeanValueCPP=meanValueCPP_NoCongCont.gnuplotdata
gnuplotFileQueueSize=queue.gnuplot
gnuplotFileRelReOmRatio=relReOmRatio_NoCongCont.gnuplotdata
gnuplotFileStdDevCPP=stdDevCPP_NoCongCont.gnuplotdata
gnuplotFileTotalTemporaryRequests=totalTemporaryRequests_NoCongCont.gnuplotdata
gnuplotTimeStepSecs=5
gui=false
informBrokersTimeout=2000
informSubscribersTimeout=2000
isDiscreteSimulation=true
maxFeedEvents=5
maxPollingPeriod=910800
maxSubscriberEvents=10
maxUpIntv=30
minUpIntv=5
pingTimeoutFactor=2
pingTimer=8000
preferredPollingPeriod=1
processingTimeFeedRequest=350
processingTimeUnrepliedRequest=43
rssFeedMsgRepresent=true
rssFeedMsgRT=1
rssFeedRequestMsgRT=1
saveProperties=false
scenarioFile=BRITEQuServAdjColEvBrkNoCongContPubSub.sim
seedValue=-7847005838091513385
serverQueueSize=40
showSizeBrokerMsg=false
spreadDivisor=6
subnetParamMsgRT=1
subscribers=50
ttl=5
