#Parameters for a RPSSimulation
#Wed Aug 02 01:17:37 CEST 2006
actionFile=actions.al
engineTimerPeriod=5
gnuplotFileCoeffVarCPP=coeffVarCPP_NoCongCont.gnuplotdata
gnuplotFileMeanValueCPP=meanValueCPP_NoCongCont.gnuplotdata
gnuplotFileQueueSize=queue.gnuplot
gnuplotFileStdDevCPP=stdDevCPP_NoCongCont.gnuplotdata
gnuplotFileTotalTemporaryRequests=totalTemporaryRequests_NoCongCont.gnuplotdata
gnuplotTimeStepSecs=5
gui=false
informBrokersTimeout=2000
informSubscribersTimeout=2000
isDiscreteSimulation=true
maxFeedEvents=5
maxPollingPeriod=910800
maxSubscriberEvents=10
maxUpIntv=30
minUpIntv=5
pingTimeoutFactor=2
pingTimer=8000
preferredPollingPeriod=1
rssFeedMsgRT=70
rssFeedMsgRepresent=true
rssFeedRequestMsgRT=50
saveProperties=false
scenarioFile=BRITEQuServAdjColEvBrkNoCongContPubSub.sim
seedValue=-4583176011754080314
serverDelay=200
serverQueueSize=40
showSizeBrokerMsg=false
spreadDivisor=6
subnetParamMsgRT=50
ttl=5
