#Parameters for a RPSSimulation
#Sun Oct 22 15:47:46 CEST 2006
actionFile=actions_serviceTimeFactor50.al
engineTimerPeriod=5
gnuplotFileAvgMsgDelayRatio=avgMsgDelayRatio_ExponentialArttFactor_serviceTimeFactor50.gnuplotdata
gnuplotFileAvgUptodateRatio=avgUptodateRatio_ExponentialArttFactor_serviceTimeFactor50.gnuplotdata
gnuplotFileCoeffVarCPP=coeffVarCPP_ExponentialArttFactor_serviceTimeFactor50.gnuplotdata
gnuplotFileMarkers=markers_serviceTimeFactor50.gnuplot
gnuplotFileMeanValueCPP=meanValueCPP_ExponentialArttFactor_serviceTimeFactor50.gnuplotdata
gnuplotFileQueueSize=queue.gnuplot
gnuplotFileRelReOmRatio=relReOmRatio_ExponentialArttFactor_serviceTimeFactor50.gnuplotdata
gnuplotFileStdDevCPP=stdDevCPP_ExponentialArttFactor_serviceTimeFactor50.gnuplotdata
gnuplotFileTotalTemporaryRequests=totalTemporaryRequests_ExponentialArttFactor_serviceTimeFactor50.gnuplotdata
gnuplotTimeStepSecs=5
gui=false
informBrokersTimeout=2000
informSubscribersTimeout=2000
isDiscreteSimulation=true
maxFeedEvents=5
maxPollingPeriod=910800
maxSubscriberEvents=10
maxUpIntv=30
minUpIntv=5
pingTimeoutFactor=2
pingTimer=8000
preferredPollingPeriod=1
processingTimeFeedRequest=350
processingTimeUnrepliedRequest=43
rssFeedMsgRepresent=true
rssFeedMsgRT=70
rssFeedRequestMsgRT=50
saveProperties=false
scenarioFile=BRITEQuServAdjColEvBrkExpACongContPubSub.sim
seedValue=-7847005838091513385
serverQueueSize=40
showSizeBrokerMsg=false
spreadDivisor=6
subnetParamMsgRT=50
ttl=5
