#Parameters for a RPSSimulation
#Sun Oct 22 15:47:40 CEST 2006
actionFile=actions.al
engineTimerPeriod=5
gnuplotFileAvgMsgDelayRatio=avgMsgDelayRatio_SinglePublisher.gnuplotdata
gnuplotFileAvgUptodateRatio=avgUptodateRatio_SinglePublisher.gnuplotdata
gnuplotFileCoeffVarCPP=coeffVarCPP_SinglePublisher.gnuplotdata
gnuplotFileMarkers=markers.gnuplot
gnuplotFileMeanValueCPP=meanValueCPP_SinglePublisher.gnuplotdata
gnuplotFileQueueSize=queue.gnuplot
gnuplotFileRelReOmRatio=relReOmRatio_SinglePublisher.gnuplotdata
gnuplotFileStdDevCPP=stdDevCPP_SinglePublisher.gnuplotdata
gnuplotFileTotalTemporaryRequests=totalTemporaryRequests_SinglePublisher.gnuplotdata
gnuplotTimeStepSecs=5
gui=false
informBrokersTimeout=2000
informSubscribersTimeout=2000
isDiscreteSimulation=true
maxFeedEvents=5
maxPollingPeriod=910800
maxSubscriberEvents=10
maxUpIntv=30
minUpIntv=5
pingTimeoutFactor=2
pingTimer=8000
preferredPollingPeriod=1
processingTimeFeedRequest=350
processingTimeUnrepliedRequest=43
rssFeedMsgRepresent=true
rssFeedMsgRT=70
rssFeedRequestMsgRT=50
saveProperties=false
scenarioFile=BRITEQuServAdjColEvBrkSnglPubCongContPubSub.sim
seedValue=-7847005838091513385
serverQueueSize=40
showSizeBrokerMsg=false
spreadDivisor=6
subnetParamMsgRT=50
ttl=5
